<a href="https://colab.research.google.com/github/devyaniiiiii/Data-Science/blob/main/Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio

In [2]:

dataframe = pd.read_csv("/content/exports-to-african-countries.csv")

In [3]:
dataframe.shape

(275509, 15)

In [4]:
dataframe.isnull().sum()

id                     0
date                   0
country_name           0
alpha_3_code           1
country_code           1
region                 1
region_code            1
sub_region             1
sub_region_code        1
hs_code                1
commodity              1
unit                 969
value_qt            1797
value_rs               1
value_dl           23950
dtype: int64

In [5]:
# Preview column names to verify
print("Columns:", dataframe.columns)

Columns: Index(['id', 'date', 'country_name', 'alpha_3_code', 'country_code', 'region',
       'region_code', 'sub_region', 'sub_region_code', 'hs_code', 'commodity',
       'unit', 'value_qt', 'value_rs', 'value_dl'],
      dtype='object')

In [6]:
# Group by 'commodity' and sum the 'qty'
top_commodities = (
    dataframe.groupby('commodity', as_index=False)['value_qt']
    .sum()
    .sort_values(by='value_qt', ascending=False)
    .head(100)
)

# Display the top 100 commodities
print(top_commodities)

                                              commodity    value_qt
5838                                     Rice Parboiled  2877488.90
4926         Othr Refnd Sugar Includng Centrifugal Sugr  1202106.46
1010                                        Broken Rice  1143513.15
4420                                             Others   848139.89
5835          Rice Excptg Parboiled (Excl Basmati Rice)   491390.30
...                                                 ...         ...
3330                            Onions Fresh Or Chilled    18797.95
2555             Inner Tubes Of Rubber Used On Bicycles    18772.30
6357  Strips Of Flat-Rold Prdcts In Coils Of A Thckn...    18236.00
4036                              Other Petroleum Jelly    18198.09
1933                                     Exercese Books    18075.41

[100 rows x 2 columns]

In [7]:
# Group by 'commodity' and sum the 'qty' to get top 100 commodities
top_100_commodities = (
    dataframe.groupby('commodity')['value_qt']
    .sum()
    .sort_values(ascending=False)
    .head(100)
    .index
)

# Filter the original DataFrame to keep only rows with those top 100 commodities
filtered_df = dataframe[dataframe['commodity'].isin(top_100_commodities)]

# Display the filtered data
print(filtered_df)

            id        date country_name alpha_3_code  country_code  region  \
0            0  2015-01-01      Algeria          DZA          12.0  Africa
7            7  2015-01-01      Algeria          DZA          12.0  Africa
16          16  2015-01-01      Algeria          DZA          12.0  Africa
17          17  2015-01-01      Algeria          DZA          12.0  Africa
18          18  2015-01-01      Algeria          DZA          12.0  Africa
...        ...         ...          ...          ...           ...     ...
275462  275462  2016-02-01        Egypt          EGY         818.0  Africa
275464  275464  2016-02-01        Egypt          EGY         818.0  Africa
275469  275469  2016-02-01        Egypt          EGY         818.0  Africa
275488  275488  2016-02-01        Egypt          EGY         818.0  Africa
275496  275496  2016-02-01        Egypt          EGY         818.0  Africa

        region_code       sub_region  sub_region_code     hs_code  \
0               2.0  Northern Africa             15.0   2023000.0
7               2.0  Northern Africa             15.0   7132000.0
16              2.0  Northern Africa             15.0  10063010.0
17              2.0  Northern Africa             15.0  10063020.0
18              2.0  Northern Africa             15.0  10063090.0
...             ...              ...              ...         ...
275462          2.0  Northern Africa             15.0  17023010.0
275464          2.0  Northern Africa             15.0  17049090.0
275469          2.0  Northern Africa             15.0  23040030.0
275488          2.0  Northern Africa             15.0  25262000.0
275496          2.0  Northern Africa             15.0  27121090.0

                                                commodity unit  value_qt  \
0                Boneless Meat Of Bovine Animals , Frozen  Kgs   3163.99
7                   *Chickpeas (Garbanzos) Dried And Shld  Kgs   1008.00
16                                         Rice Parboiled  Kgs   2280.00
17                                           Basmati Rice  Kgs    314.00
18              Rice Excptg Parboiled (Excl Basmati Rice)  Kgs    128.00
...                                                   ...  ...       ...
275462                                     Glucose Liquid  Kgs    216.00
275464    Other Sugar Confectionery, Not Containing Cocoa  Kgs      7.56
275469  Meal Of Soyabean,Solvent Extracted (Defatted) ...  Kgs     34.00
275488                    Natrl Steatite Crushed/Powdered  Kgs     82.00
275496                              Other Petroleum Jelly  Kgs    114.40

        value_rs  value_dl
0        5566.46      8.95
7         678.80      1.09
16        571.85      0.92
17        213.37      0.34
18         35.43      0.06
...          ...       ...
275462     56.60      0.08
275464      8.72      0.01
275469     18.89      0.03
275488     24.43      0.04
275496    136.44      0.20

[43554 rows x 15 columns]

In [7]:
filtered_df.shape

In [8]:
filtered_df.isnull().sum()

id                    0
date                  0
country_name          0
alpha_3_code          0
country_code          0
region                0
region_code           0
sub_region            0
sub_region_code       0
hs_code               0
commodity             0
unit                  0
value_qt            130
value_rs              0
value_dl           2991
dtype: int64

In [9]:
# Drop rows with any null values
filtered_df_clean = filtered_df.dropna()

# Show the shape before and after dropping null values
print("Shape before dropping null values:", filtered_df.shape)
print("Shape after dropping null values:", filtered_df_clean.shape)

# Update our DataFrame with the cleaned version
filtered_df = filtered_df_clean

# Verify that there are no more null values
print("\nNull values after cleaning:")
print(filtered_df.isnull().sum())

Shape before dropping null values: (43554, 15)
Shape after dropping null values: (40519, 15)

Null values after cleaning:
id                 0
date               0
country_name       0
alpha_3_code       0
country_code       0
region             0
region_code        0
sub_region         0
sub_region_code    0
hs_code            0
commodity          0
unit               0
value_qt           0
value_rs           0
value_dl           0
dtype: int64

In [10]:
filtered_df.to_csv('top_100_commodities_full_data.csv', index=False)

In [11]:
df = pd.read_csv("/content/top_100_commodities_full_data.csv")

In [12]:
# Check for duplicate records
duplicate_rows = df[df.duplicated()]

# Display number of duplicate rows
print(f"Number of duplicate records: {duplicate_rows.shape[0]}")

# Optionally, display the duplicate rows
if not duplicate_rows.empty:
    print("\nDuplicate Records:")
    print(duplicate_rows)
else:
    print("No duplicate records found.")

Number of duplicate records: 0
No duplicate records found.

In [13]:
df.head()

,id,date,country_name,alpha_3_code,country_code,region,region_code,sub_region,sub_region_code,hs_code,commodity,unit,value_qt,value_rs,value_dl
0,0,2015-01-01,Algeria,DZA,12.0,Africa,2.0,Northern Africa,15.0,2023000.0,"Boneless Meat Of Bovine Animals , Frozen",Kgs,3163.99,5566.46,8.95
1,7,2015-01-01,Algeria,DZA,12.0,Africa,2.0,Northern Africa,15.0,7132000.0,*Chickpeas (Garbanzos) Dried And Shld,Kgs,1008.00,678.80,1.09
2,16,2015-01-01,Algeria,DZA,12.0,Africa,2.0,Northern Africa,15.0,10063010.0,Rice Parboiled,Kgs,2280.00,571.85,0.92
3,17,2015-01-01,Algeria,DZA,12.0,Africa,2.0,Northern Africa,15.0,10063020.0,Basmati Rice,Kgs,314.00,213.37,0.34
4,18,2015-01-01,Algeria,DZA,12.0,Africa,2.0,Northern Africa,15.0,10063090.0,Rice Excptg Parboiled (Excl Basmati Rice),Kgs,128.00,35.43,0.06

In [14]:
df.shape

(40519, 15)

In [15]:
# --- Data Cleaning: Remove rows where commodity is 'Others' ---
print(f"Initial number of rows: {len(df)}")
# Define the exact commodity names to be removed
commodities_to_remove = ['Others']
# Filter the DataFrame, keeping only rows where 'commodity' is NOT in the removal list.
# Using .isin() is precise and avoids accidentally removing commodities that contain the word 'Other'.
df = df[~df['commodity'].isin(commodities_to_remove)]
print(f"Number of rows after removing 'Others': {len(df)}")

Initial number of rows: 40519
Number of rows after removing 'Others': 22085

In [20]:
# Define mapping from commodity keywords to categories
commodity_to_category = {
    "Meat": "Food Product",
    "Fish": "Food Product",
    "Tuna": "Food Product",
    "Salmon": "Food Product",
    "Scampi": "Food Product",
    "Cowries": "Animal Product",
    "Bovine": "Food Product",
    "Wheat": "Agricultural Product",
    "Rice": "Agricultural Product",
    "Maize": "Agricultural Product",
    "Cotton": "Textile",
    "Yarn": "Textile",
    "Fabric": "Textile",
    "Iron": "Metal",
    "Steel": "Metal",
    "Copper": "Metal",
    "Aluminium": "Metal",
    "Zinc": "Metal",
    "Petroleum": "Fuel",
    "Crude Oil": "Fuel",
    "Benzene": "Chemical",
    "Toluene": "Chemical",
    "Polymer": "Chemical",
    "Plastic": "Chemical",
    "Fertilizer": "Chemical",
    "Cement": "Construction Material",
    "Machinery": "Machinery & Equipment",
    "Motor": "Machinery & Equipment",
    "Vehicle": "Machinery & Equipment",
    "Pharmaceutical": "Medical Product",
    "Medicine": "Medical Product",
    "Sugar": "Food Product",
    "Tea": "Food Product",
    "Coffee": "Food Product",
    "Gold": "Precious Metal",
    "Silver": "Precious Metal",
    "Diamond": "Precious Stone",
    "Cottonseed": "Agricultural Product"
}

# Function to assign category based on commodity description
def assign_category(commodity):
    for keyword, category in commodity_to_category.items():
        if keyword.lower() in commodity.lower():
            return category
    return "Other"

# Apply the mapping
df["category"] = df["commodity"].apply(assign_category)

# Preview the result
df[["commodity", "category"]].head(20)

                                            commodity              category
0            Boneless Meat Of Bovine Animals , Frozen          Food Product
1               *Chickpeas (Garbanzos) Dried And Shld                 Other
2                                      Rice Parboiled  Agricultural Product
3                                        Basmati Rice  Agricultural Product
4           Rice Excptg Parboiled (Excl Basmati Rice)  Agricultural Product
5                                      Sweet Biscuits                 Other
6                                               Other                 Other
7           Other Medcne Put Up For Retail Sale N.E.S                 Other
8          Othr Clrng Matr Cntng <80% Titnium Dioxlde                 Other
10  *Other Polyethylene Terephthalate (Including C...                 Other
11       Sack And Bag (Incl Cones)Of Othr Plastic Nes              Chemical
12                        Othr Article Of Plastic Nes              Chemical
13                                              Other                 Other
15                                               Grey                 Other
16                                               Grey                 Other
17                                               Grey                 Other
19                        Textured Yarn Of Polyesters               Textile
21                             T-Shirts Etc Of Cotton               Textile
26          Othr Artcles For Cnvynce/Packing Of Goods                 Other
27                                          Spun Pipe                 Other

In [23]:
# Apply the mapping function to create/update the 'category' column.
# The assign_category function (defined previously) is used for robust keyword-based categorization.
df["category"] = df["commodity"].apply(assign_category)

print("Success: The 'category' column has been updated/created with categories.")
# Removed df.insert as it was causing the error and is redundant with direct column assignment.

Success: The 'category' column has been updated/created with categories.

In [24]:
# --- Verification and Output ---

# Display the first 10 rows of the key columns to show the result
print("\n--- DataFrame Head with New 'categories' Column ---")
print(df[['commodity', 'categories', 'value_rs']].head(10))

# Display the distribution of the new categories to get an overview
print("\n--- Distribution of Categories ---")
print(df['categories'].value_counts())

# Check for any commodities that were not successfully mapped to a category
unmapped_count = df['categories'].isnull().sum()
if unmapped_count > 0:
    print(f"\nWarning: Found {unmapped_count} rows with unmapped commodities.")
    print("This means their 'commodity' name was not in the provided mapping list.")
    print("\n--- Sample of Unmapped Commodities ---")
    # Display the commodity names that were not found in the map
    print(df[df['categories'].isnull()]['commodity'].value_counts().head(10))
else:
    print("\nSuccess: All commodities were successfully mapped to a category.")

--- DataFrame Head with New 'categories' Column ---
                                            commodity            categories  \
0            Boneless Meat Of Bovine Animals , Frozen          Food Product
1               *Chickpeas (Garbanzos) Dried And Shld   Miscellaneous Goods
2                                      Rice Parboiled  Agricultural Product
3                                        Basmati Rice  Agricultural Product
4           Rice Excptg Parboiled (Excl Basmati Rice)  Agricultural Product
5                                      Sweet Biscuits   Miscellaneous Goods
6                                               Other   Miscellaneous Goods
7           Other Medcne Put Up For Retail Sale N.E.S   Miscellaneous Goods
8          Othr Clrng Matr Cntng <80% Titnium Dioxlde   Miscellaneous Goods
10  *Other Polyethylene Terephthalate (Including C...   Miscellaneous Goods

    value_rs
0    5566.46
1     678.80
2     571.85
3     213.37
4      35.43
5      22.25
6      28.37
7     336.54
8      72.31
10    294.93

--- Distribution of Categories ---
categories
Miscellaneous Goods      15318
Agricultural Product      1868
Textile                   1350
Metal                     1187
Food Product              1105
Chemical                   982
Fuel                       243
Construction Material       32
Name: count, dtype: int64

Success: All commodities were successfully mapped to a category.

In [25]:
# --- Export the final DataFrame to a new CSV file ---
try:
    # Save the DataFrame to a new CSV file. index=False prevents pandas from writing row indices into the file.
    df.to_csv('Cleaned_top_100_with_categories_full_data.csv', index=False)
    print("\nSuccess: The DataFrame with categories has been saved to 'top_100_with_categories.csv'.")
except Exception as e:
    print(f"\nError: Could not save the file. Reason: {e}")

Success: The DataFrame with categories has been saved to 'top_100_with_categories.csv'.

In [26]:
# The first column 'id' seems to be an index and not useful for analysis.
# Let's drop it.
df.drop(columns=['id'], inplace=True)

In [27]:
df.shape

(22085, 16)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22085 entries, 0 to 40518
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             22085 non-null  object
 1   country_name     22085 non-null  object
 2   alpha_3_code     22085 non-null  object
 3   country_code     22085 non-null  float64
 4   region           22085 non-null  object
 5   region_code      22085 non-null  float64
 6   sub_region       22085 non-null  object
 7   sub_region_code  22085 non-null  float64
 8   hs_code          22085 non-null  float64
 9   commodity        22085 non-null  object
 10  unit             22085 non-null  object
 11  value_qt         22085 non-null  float64
 12  value_rs         22085 non-null  float64
 13  value_dl         22085 non-null  float64
 14  category         22085 non-null  object
 15  categories       22085 non-null  object
dtypes: float64(7), object(9)
memory usage: 2.9+ MB

In [29]:
df.describe()

,country_code,region_code,sub_region_code,hs_code,value_qt,value_rs,value_dl
count,22085.000000,22085.0,22085.000000,2.208500e+04,22085.000000,22085.000000,22085.000000
mean,506.670002,2.0,174.489789,5.131014e+07,589.544989,241.094367,0.374198
std,246.123223,0.0,66.240444,2.629298e+07,3663.689492,1169.261204,1.813611
min,12.000000,2.0,15.000000,2.023000e+06,0.000000,0.060000,0.000000
25%,288.000000,2.0,202.000000,3.004910e+07,4.140000,6.080000,0.010000
50%,504.000000,2.0,202.000000,5.205231e+07,40.000000,29.900000,0.050000
75%,716.000000,2.0,202.000000,7.304239e+07,213.980000,117.420000,0.180000
max,894.000000,2.0,202.000000,9.705009e+07,141422.000000,38842.660000,57.760000

In [30]:
print("--- Data Cleaning and Preprocessing ---")
# Check for missing values
print("Missing values per column:")
print(df.isnull().sum())
print("\n")

# The 'country_code' and 'alpha_3_code' have some missing values.
# Given that 'country_name' is present, we can proceed. For geographical plots,
# we might need to handle these missing codes if they cause issues.

# Convert 'date' column to datetime objects
df['date'] = pd.to_datetime(df['date'])

# Extract year and month for time-series analysis
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

print("Data types converted and 'year', 'month' columns added.")
print(df.head())
print("\n" + "="*50 + "\n")

--- Data Cleaning and Preprocessing ---
Missing values per column:
date               0
country_name       0
alpha_3_code       0
country_code       0
region             0
region_code        0
sub_region         0
sub_region_code    0
hs_code            0
commodity          0
unit               0
value_qt           0
value_rs           0
value_dl           0
category           0
categories         0
dtype: int64


Data types converted and 'year', 'month' columns added.
        date country_name alpha_3_code  country_code  region  region_code  \
0 2015-01-01      Algeria          DZA          12.0  Africa          2.0
1 2015-01-01      Algeria          DZA          12.0  Africa          2.0
2 2015-01-01      Algeria          DZA          12.0  Africa          2.0
3 2015-01-01      Algeria          DZA          12.0  Africa          2.0
4 2015-01-01      Algeria          DZA          12.0  Africa          2.0

        sub_region  sub_region_code     hs_code  \
0  Northern Africa             15.0   2023000.0
1  Northern Africa             15.0   7132000.0
2  Northern Africa             15.0  10063010.0
3  Northern Africa             15.0  10063020.0
4  Northern Africa             15.0  10063090.0

                                   commodity unit  value_qt  value_rs  \
0   Boneless Meat Of Bovine Animals , Frozen  Kgs   3163.99   5566.46
1      *Chickpeas (Garbanzos) Dried And Shld  Kgs   1008.00    678.80
2                             Rice Parboiled  Kgs   2280.00    571.85
3                               Basmati Rice  Kgs    314.00    213.37
4  Rice Excptg Parboiled (Excl Basmati Rice)  Kgs    128.00     35.43

   value_dl              category            categories  year  month
0      8.95          Food Product          Food Product  2015      1
1      1.09                 Other   Miscellaneous Goods  2015      1
2      0.92  Agricultural Product  Agricultural Product  2015      1
3      0.34  Agricultural Product  Agricultural Product  2015      1
4      0.06  Agricultural Product  Agricultural Product  2015      1

==================================================

In [31]:
unique_counts = df['categories'].value_counts()
unique_counts

categories
Miscellaneous Goods      15318
Agricultural Product      1868
Textile                   1350
Metal                     1187
Food Product              1105
Chemical                   982
Fuel                       243
Construction Material       32
Name: count, dtype: int64